@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'Amatic SC', cursive; */
  height: 100vh;
  background-color: #f3edf2;
}

.flex_column{
  display: flex;
  flex-direction: column;
}

.flex_column_centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex_row_centered{
  display:flex;
  align-items: center;
  justify-content: center;
}

.margin_1{
  margin-top: 1em;
  margin-bottom: 1em;
}
