@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'Amatic SC', cursive; */
  height: 100vh;
  background-color: #f3edf2;
}

.flex_column{
  display: flex;
  flex-direction: column;
}

.flex_column_centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex_row_centered{
  display:flex;
  align-items: center;
  justify-content: center;
}

.margin_1{
  margin-top: 1em;
  margin-bottom: 1em;
}



/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  height: 8px;
  /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background: rgba(4, 4, 4, 0.5);
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners for a modern look */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 3, 3, 0.7);
  /* Darker thumb when hovered */
}

::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.2);
  /* Background color of the scrollbar track */
  border-radius: 4px;
  /* Rounded corners */
}

/* Add transition for smooth hover effect */
::-webkit-scrollbar-thumb {
  transition: background 0.3s ease;
}
